# WordPress
public/wp

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Application
public/app/plugins/*
!public/app/plugins/.gitkeep
public/app/mu-plugins/*
!public/app/mu-plugins/.gitkeep
public/app/upgrade
public/app/uploads/*
!public/app/uploads/.gitkeep
!public/app/mu-plugins/register-theme-directory.php

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant

composer.lock
/.sass-cache
/public/app/themes/roots/libs
/public/app/themes/roots/acf
/public/app/themes/roots/acf-fields