assets/css/*
!assets/css/.gitkeep
!assets/css/.minified/
assets/css/.minified/*
!assets/css/.minified/.gitkeep
!assets/css/.compiled/
assets/css/.compiled/*
!assets/css/.compiled/.gitkeep
assets/fonts/vendor/*
!assets/fonts/vendor/.gitkeep
assets/js/vendor/*
!assets/js/vendor/.gitkeep
!assets/js/vendor/.minified/
assets/js/vendor/.minified/*
!assets/js/vendor/.minified/.gitkeep
assets/js/.minified/*
!assets/js/.minified/.gitkeep
assets/js/.compiled/*
!assets/js/.compiled/.gitkeep
libs
acf
acf-fields
common