/*!
 * Roots 6.5.2
 */
/* ==========================================================================
   Base
   ========================================================================== */
/* ==========================================================================
   Header
   ========================================================================== */
/* ==========================================================================
   Content
   ========================================================================== */
/* ==========================================================================
   Primary Content
   ========================================================================== */
/* Gallery Shortcode */
/* line 38, ../sass/main.scss */
.gallery-row {
  padding: 15px 0;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */
/* ==========================================================================
   Posts
   ========================================================================== */
/* ==========================================================================
   Footer
   ========================================================================== */
/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */
/* line 75, ../sass/main.scss */
.aligncenter {
  display: block;
  margin: 0 auto;
}

/* line 76, ../sass/main.scss */
.alignleft {
  float: left;
}

/* line 77, ../sass/main.scss */
.alignright {
  float: right;
}

/* line 78, ../sass/main.scss */
figure.alignnone {
  margin-left: 0;
  margin-right: 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
